$basic-color: rgb(93, 250, 255);
$font-color:  white;

@mixin btn(){
  width:            150px;
  height:           150px;
  background-color: $basic-color;
  border-radius:    5px;
  position:         fixed;
  right:            50px;
  z-index:          9999;
}

@mixin btn_p(){
  color:      $font-color;
  font-size:  20px;
  font-weight: bold;
  line-height: 80px;
}

.edit{
  @include btn();
  height: 80px;
  bottom:           250px;
  text-align: center;
  p{
    @include  btn_p();
  }
}

.destroy{
  @include btn();
  height: 80px;
  bottom:           350px;
  text-align:       center;
  p{
    @include  btn_p();
  }
}

.exhibition{
  @include btn();
  bottom:  50px;
  p{
    color:      $font-color;
    font-size:  20px;
    margin: 10px 0 0 35px;
  }
  img{
    margin: 20px 0 0 33px;
  }
}


.purchase{
  @include btn();
  background-color: rgb(255, 189, 65);
  bottom:           50px;
  left:            50px;
  p{
    color:      black;
    font-size:  20px;
    margin: 10px 0 0 35px;
  }
  img{
    margin: 20px 0 0 33px;
  }
}

.header{
  height:     auto;
  width:      100%;
  &__flex{
    display: flex;
    padding: 30px 40px;
    justify-content: center;
    &--image{
      width: 15%;
    }
    &--form{
      width:    85%;
      .input{
        height:     20px;
        width:      70%;
        padding:    5px;
        font-size:  16px;
      }
      .submit{
        padding:          8px 15px;
        background-color: $basic-color;
        outline:          none;
        i{
          color:        $font-color;
          font-size:    14px;
        }
      }
    }
  }
  &__btns{
    display:         flex;
    justify-content: space-between;
    a{
      margin: 0 40px 20px;
    }
  }
}

.content_download{
  height:           400px;
  width:            100vw;
  background-image: image-url("material/pict/bg-appBanner-pict.jpg");
  background-size:  cover;
  position:         relative;
  .font_size{
    font-size: 22px;
    padding: 120px 0 20px;
  }
  p{
    text-align:   center;
    color:        $font-color;
    text-shadow:  1px 1px 5px rgb(51, 51, 51);
    font-size:    30px;
    font-weight:  bold;
  }
  .margin_bottom{
    margin-bottom: 70px;
  }
  .btn{
    position: absolute;
    bottom:   30%;
    left:     35%;
  }
}


.footer{
  height:             300px;
  width:              100vw;
  background-color: rgb(32, 32, 32);
  position:           relative;
  &__contents{
    display:          flex;
    justify-content:  center;
    &--content{
      margin:40px 30px 20px;
      h1{
        font-size:    18px;
        color:        $font-color;
      }
      ul{
        margin:40px 0 20px;
        li{
          margin-bottom: 10px;
          a{
            color:      $font-color;
            font-size:  12px;
          }
        }
      }
    }
  }
  &__icon{
    margin:     0 auto;
    position:   absolute;
    bottom:     10%;
    left:       43%;
  }
}