.content_download
  %p.font_size
    だれでもかんたん、人生を変えるフリマアプリ
  %p.margin_bottom
    今すぐ無料ダウンロード！
  .btn
    %a.download(href="#")
      %img(src="http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg" alt="")/
    %a.download(href="#")
      %img(src="http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg" alt="")/
