.pick_up__category--flex
  - @products.each do |p|
    - if p.judgment == 1
      = link_to product_path(p) do
        .product
          .image
            = image_tag p.images.first.image.to_s, width: "200px", height: "200px"
          .info
            %p 
              = p.name 
              %br/
              ¥
              - price = p.price*1.1
              = price.truncate
              (税込)
              %i.fas.fa-star
                0