- if user_signed_in? && current_user.id != @products.user_id && @products.judgment == 1
  .purchase
    = link_to purchase_index_path(@products.id) do
      %p
        購入する
      = image_tag "material/icon/sozai_cman_jp_20200309122734.png", height: "80", with: "80"