.parents-categories {
  padding: 16px 8px;
  display: flex;
  flex-wrap: wrap;
  .parents-category {
    a {
    background-color: #f8f8f8;
    border-radius: 4px;
    min-width: 80px;
    line-height: 40px;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    text-align: center;
    padding: 0 30px;
    margin: 5px;
    color: #333;
    text-decoration: none;
    }
  }
}

.children-categories {
  clear: left;
  background-color: #f8f8f8;
  border-radius: 5px;
  margin-bottom: 10px;
  .main-title {
    text-decoration: none;
    display: block;
    border-radius: 5px 5px 0 0;
    padding: 16px 10px 8px;
    background-color: rgb(93, 250, 255);
    color: #fff;
    text-align: left;
    font-weight: bold;
    font-size: 22px;
  }
  .children-category {
    padding: 16px;
    .child-category {
      .sub-title {
        color: #333;
        font-weight: bold;
        font-size: 16px;
        text-decoration: none;
      }
    }
    .grandchildren-categories {
      padding: 0 0 0 20px;
      display: flex;
      flex-wrap: wrap;
      .grandchildren-category {
        margin: 8px 0;
        display: inline-block;
        width: calc(100% / 2);
        .grandchildren-title {
          color: #ffb340;
          text-decoration: none;
          font-size: 14px;
        }
      }
    }
  }
}

