.second-header {
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  width: 100%;
  .category-bar {
    width: 100%;
    height: 55px;
    padding: 0 50px;
    display: flex;
    color: #000000;
    .transition {
      text-decoration: none;
      font-size: 14px;
      color: #333333;
      
    }
    .space {
      margin: 0 10px;
    }
  }
}
.show-main {
  width: 100vw;
  height: 100%;
  background-color: #f8f8f8;
  padding: 40px;
  .product-main {
    background-color: #ffffff;
    width: 700px;
    margin: 0 auto;
    padding: 24px 40px 40px;
  }
  .product-name {
    text-align: center;
  }
  .product-image {
    &__main {
      margin: 0 auto;
      width: 560px;
    }
    
    &__sub {
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }
    &__second {
      width: 25%;
      margin: 0 10px 0 0;
      align-items: center;
      img {
        object-fit: cover;
        // height: 87px;
      }
    }
  }
  .product-price {
    margin: 24px 0 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    span {
      font-size: 46px;
      font-weight: bold;
      margin: 0 10px 0 0;
    }
    &__detail span{
      font-size: 16px;
    }
  }
  .table {
    padding-bottom: 20px;
    table {
      width: 100%;
      height: 375px;
      border-collapse: collapse;
      border: 1px solid #f8f8f8;
    }
  }
}
