= render partial: "template/exhibition"
= render partial: "template/header"

.basic_info
  .name
  .price
  .status
  .image
  .description

.additional_info
  .category
  .brand



= render partial: "template/content_download"
= render partial: "template/footer"