= render partial: "template/exhibition"
= render partial: "template/header"

.second-header
  .category-bar
    =link_to "#", class:"transition" do
      %p.category-btn
        FURIMA
    %p.space
      >
    =link_to "#", class:"transition" do
      %p.category-btn
        親カテゴリ
    %p.space
      >
    =link_to "#", class:"transition" do
      %p.category-btn
        子カテゴリ
    %p.space
      >
    =link_to "#", class:"transition" do
      %p.category-btn
        孫カテゴリ
    %p.space
      >
    %p.category-btn
      商品名