.second-header
  .category-bar
    =link_to root_path, class:"transition" do
      %p.category-btn
        FURIMA
    %p.space
      >
    =link_to root_path, class:"transition" do
      %p.category-btn
        カテゴリ親
    %p.space
      >
    =link_to root_path, class:"transition" do
      %p.category-btn
        カテゴリ子
    %p.space
      >
    =link_to root_path, class:"transition" do
      %p.category-btn
        カテゴリ孫
    %p.space
      >
    %p.category-btn
      商品名
.show-main
  .product-main
    .product-name
      %h2 商品名
    .product-image
      .product-image__main
        =image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png", size: "560x346"
      .product-image__sub
        .product-image__second
          =image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png", size: "75x75"
        .product-image__second
          =image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/14/a001.png", size: "75x75"
        .product-image__second
          =image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/15/a003.png", size: "75x75"
    .product-price
      %span 値段
      .product-price__detail
        %span (税込)
        %span 送料込み

